# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diretórios de build
.next/
dist/
build/
out/

# Dependências
node_modules/

# Configurações do Docker
Dockerfile
.dockerignore

# Configurações de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de ambiente (NUNCA inclua no Docker)
.env
.env*.local

# Arquivos de sistema
.DS_Store